#connect {
  font-size: 25px;
  border-radius: 10px;
  padding: 5px 20px;
  background-color: rgb(171, 255, 255);
}
#connectinfo {
  margin-left: 30px;
  background-color: aquamarine;
  border-radius: 7px;
  padding: 5px 15px;
}

#connectinfo.unconnected {
  color: red;
}
#connectinfo.connected {
  color: blue;
}
